{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - About{% endblock %}

{% block page_heading %}About us{% endblock %}

{% block content %}

<section>
	<div class="container">
        <hr>
		<div class="row">
			<div class="col-12">
				<div class="about-us-header">
					<h2>The Dutchtreats story</h2>
				</div>
				<div class="about-us-content">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor voluptas dolores rem maiores
						rerum labore
						fugit voluptate, nemo soluta. Impedit dolores quam commodi. Earum recusandae nisi eos hic iusto,
						similique dolorem quis ullam animi impedit est nihil quam voluptatem soluta aspernatur quidem
						quo minima
						qui harum nesciunt modi vero. Mollitia necessitatibus fugit esse omnis debitis ipsa asperiores
						suscipit
						autem dolorum sit recusandae tempore voluptate, officia id reprehenderit quidem. Similique in
						saepe,aliquid necessitatibus,
						libero ratione natus modi at obcaecati reiciendis harum error, rerum temporibus
						labore. Quod quaerat, eveniet aliquid provident dolores eum, quae corrupti natus nisi neque non
						voluptas! Ipsam placeat soluta necessitatibus perspiciatis ea. Molestias omnis quisquam quasi
						beatae
						soluta id accusantium itaque fugiat a rerum perferendis deserunt harum magnam facilis,
						consequuntur
						porro ipsam rem iusto nemo non corporis vero. Pariatur ipsum corrupti reiciendis rem alias?
						Optio
						eligendi, nobis voluptatem autem nemo provident temporibus qui nesciunt deleniti voluptatum
						aliquid, non
						atque a ut asperiores corrupti?</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
    <div class="container">
    <hr>
		<div class="row">
			<div class="col-12">
				<div class="about-us-header">
					<h2>Meet the team</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3 product-colums">
				<div class="product-body">
					<img class="team-member" src="{% static 'images/jay.jpg' %}" alt="Jay">
					<h3>Jay</h3>
					<p>Director</p>
					<div><i class="fab fa-youtube"></i>&nbsp <i class="fab fa-facebook-f"></i>&nbsp
						<i class="fab fa-linkedin-in"></i>&nbsp
						<i class="fab fa-instagram"></i></div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 product-colums">
				<div class="product-body">
					<img class="team-member" src="{% static 'images/luke.jpg' %}" alt="Jay">
					<h3>Luke</h3>
					<p>Assistant director</p>
					<div><i class="fab fa-youtube"></i>&nbsp <i class="fab fa-facebook-f"></i>&nbsp
						<i class="fab fa-linkedin-in"></i>&nbsp
						<i class="fab fa-instagram"></i></div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 product-colums">
				<div class="product-body">
					<img class="team-member" src="{% static 'images/gloria.jpg' %}" alt="Jay">
					<h3>Gloria</h3>
					<p>Project manager</p>
					<div><i class="fab fa-youtube"></i>&nbsp <i class="fab fa-facebook-f"></i>&nbsp
						<i class="fab fa-linkedin-in"></i>&nbsp
						<i class="fab fa-instagram"></i></div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 product-colums">
				<div class="product-body">
					<img class="team-member" src="{% static 'images/phil.jpg' %}" alt="Jay">
					<h3>Phil</h3>
					<p>Sales director</p>
					<div><i class="fab fa-youtube"></i>&nbsp <i class="fab fa-facebook-f"></i>&nbsp
						<i class="fab fa-linkedin-in"></i>&nbsp
						<i class="fab fa-instagram"></i></div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}