{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - Password reset{% endblock %}

{% block page_heading %}Reset password{% endblock %}

{% block content %}

<div class="container">
	<hr>
	<div class="row">
		<p>Please enter your e-mail address</p>
	</div>
	<div class="row">
		<!-- 
            posting this form will send an email to the user's email address
            containing a link to reset password.
         -->
		<form method="POST">
			{% csrf_token %}
			{{ form.email.errors }}
			<div>
				<p>{{ form.email }}</p>
			</div>
			<div>
				<button class="btn btn-primary btn-orange">Reset password</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}