{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block title %}Setting New password{% endblock %}

{% block content %}

<main>
    <div class="container">
        {% if validlink %}
        <div class="row">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        </div>
        <div class="row">
            <!-- 
                user can choose new password here. password1 and 2 must match,
                otherwise an error is given.
            -->
            <form method="post" class="accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"></div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1"><input id="id_new_password1" name="New password:"></label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2"><input id="id_new_password2" name="Confirm password:"></label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td><button type="submit" class="btn btn-primary btn-orange">Reset password</button></td>
                        </tr>
                    </table>
            </form>
        </div>
        {% else %}
        <div class="row">
            <h1>Password reset unsuccessful</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}