{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - Password reset{% endblock %}

{% block page_heading %}Reset password{% endblock %}

{% block content %}

<div class="row">
	<p>Please enter your e-mail address</p>
</div>

<div class="row">
	<form method="POST">

		{% csrf_token %}

		{{ form.email.errors }}

		<p>
			<div>
				{{ form.email }}
			</div>
			<div>
				<button class="btn btn-primary btn-orange">Reset password</button>
			</div>
		</p>
	</form>
</div>

{% endblock %}