{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - Password reset{% endblock %}

{% block page_heading %}Reset password{% endblock %}

{% block content %}

<form method="POST">
	<p>Please enter your e-mail address</p>

    {% csrf_token %}

    {{ form.email.errors }}

    <p>
        <label for="id_email">Email address:</label>
        {{ form.email }}
        <button type="submit">Reset password</button>
    </p>
</form>

{% endblock %}