{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - {{ product.name }}{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="back-to-products-link">
				<a href="{% url 'products' %}" class="btn btn-primary btn-orange"
					role="button"><i class="fas fa-arrow-alt-circle-left"></i> Back to products</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="product-image">
				<div class="product single-product-image"
					style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<div class="product-content">
				<div class="row">
					<div class="col-12 product-content-piece">
						<h1>{{ product.name }}</h1>
					</div>
					<div class="col-12 product-content-piece">
						<h3><i class="fas fa-euro-sign"></i> {{ product.price }}</h3>
					</div>
					<div class="col-12 product-content-piece">
						<p>{{ product.description }}</p>
					</div>
					<div class="col-12 product-content-piece">
						<form action="{% url 'add_to_cart' product.id %}" method="post" class="product-content-piece">
							{% csrf_token %}
							<input type="number" name="quantity" min="1" max="999" class="form-control" value=1 required=True>
							<span class="input-group-btn"><button type="submit" class="btn btn-primary btn-blue"><i class="fas fa-cart-plus"></i>&nbsp; Add to cart</button></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<hr>
		</div>
		<div class="col-12">
			<div class="product-review">
				<h2>Reviews</h2>
			</div>
		</div>
		<!-- check if there are reviews -->
		{% if product.reviews.all.count > 0 %}
		{% for review in product.reviews.all %}
		<div class="col-12 col-lg-6 review-column">
			<div class="review-body">
				<div class="review-content">
					<div class="row">
						<h5>{{ review.user.username }}</h5>: &emsp14; <p>{{ review.content }}</p>
					</div>
				</div>
				<!-- 
                    delete button for a specific review is only displayed if the user
                    that is logged in is the user that wrote the review. Or if the 
                    user is admin
                -->
				{% if user.is_authenticated and user == review.user or user.is_superuser %}
				<form action="{% url 'delete_review' review.id %}" method="POST">
					{% csrf_token %}
					<span class="input-group-btn"><button type="submit" id='post-btn{{ forloop.counter }}' class='btn btn-primary btn-red'><i class="fas fa-trash-alt"></i> Delete review</button></span>
				</form>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<!-- return default text if there are no reviews for a product -->
		{% else %}
		<div class="col-12">
			<div class="review-default-message">
				<div class="row">
					<p>There are no reviews for {{ product.name }} yet.</p>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="col-12">
		<div class="review-form">
			<!-- 
                user can only write review if they're logged in. If not,
                they're redirected to the login page. 
            -->
			<form action="{% url 'new_review' product.pk %}" method="POST" enctype="multipart/form-data"
				class='post-form' id='form' label='Write your own review.'>
				{% csrf_token %}
				{{ form | as_bootstrap }}
				<span class="input-group-btn"><button type="submit" id='post-btn' class="btn btn-primary btn-orange"><i class="fas fa-sticky-note"></i> Post review</button></span>
			</form>
		</div>
	</div>
</div>

{% endblock %}