/********** general styling *****************/

html {
    /* Set min-height to 100% to make sure 
    the footer sticks to the bottom */
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    /* footer height is 65px */
    margin: 0 0 65px;
    padding-bottom: 25px;
}

a {
    color: black;
    transition: 0.3s;
}

a:hover {
    color: #737373;
    text-decoration: none;
}

.heading {
    margin-top: 20px;
    margin-left: 14px;
}

.heading-hr {
    width: 100%;
}

main p a {
    text-decoration: underline;
}

.messages {
    width: 100%;
    background-color: black;
    color: #ff4f00;
    padding-top: 10px;
    text-align: center;
}

.btn-orange {
    background-color: #ff4f00;
    border: none;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-orange:hover {
    background-color: #ff824d;
}

.btn-yellow {
    background-color: #ffe135;
    color: black;
    border: none;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-yellow:hover {
    background-color: #b7b702;
    color: black;
}

.btn-red {
    background-color: red;
    border: none;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-red:hover {
    background-color: #ca0202;
}

.btn-blue {
    background-color: #2b45ff;
    border: none;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.btn-blue:hover {
    background-color: #0300af;
    border: none;
}

/********** navbar *****************/

.navbar-light .navbar-nav .nav-link {
    color: black;
    transition: 0.3s;
}

.navbar-brand {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #737373;
}

.navbar-light .navbar-nav .nav-welcome {
    color: black;
}

.navbar-light .navbar-nav .nav-welcome:hover {
    color: black;
}

.navbar {
    background-color:#ff4f00;
}

.navbar-brand {
    font-size: 2em;
    border: 1px;
    border-radius: 30px;
    background-color: #ffffff38;
    padding-left: 10px;
    padding-right: 10px;
}

.flag-image {
    height: 40px;
    width: auto;
}

.nav-item {
    background-color: #ff4f00a8;
}

@media only screen and (min-width: 992px) {
    .nav-item-center {
        margin-left: 50px;
        font-size: 1.5em;
    }
}

/* get number close to the cart icon
in the navbar */
.badge {
    padding-left: 5px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .4rem;
    padding-left: .4rem;
    }
}


/********** footer *****************/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #ff4f00;
    color: black;
    padding-top: 10px;
    font-size: 0.8em;
    margin-top: 50px;
}

footer a {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    footer {
        font-size: 0.6em;
    }
}

footer .footer-text {
    text-align: center;
}

/********** homepage(index.html) *****************/

.index-background {
    width: 100%;
    margin-top: -28px;
}

.homepage-description {
    margin-top: 2em;
    font-size: 1.6em;
}

@media screen and (max-width: 576px) {
    .homepage-description {
    font-size: 1.2em;
}
}

/********** password reset *****************/

.password-reset-link {
    margin-top: 10px;
}

.accountform {
    padding-top: 20px;
}

/********** products page *****************/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.product-body {
    text-align: center;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: #ff4f00a8;
}

.product-body .form-control {
    width: 110px;
    text-align: center;
    display: inline-block;
    border: 1px solid #212529;
}

.product-colums {
    margin-bottom: 1.5rem!important;
}

@media screen and (min-width: 992px) {
    .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    }
}

/********** single product page *****************/

.search {
    margin-bottom: 1em;
}

.single-product-image {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 992px) {
    .product-content {
        text-align: center;
    }
}

.product-content .form-control {
    width: 110px;
    text-align: center;
    display: inline-block;
    border: 1px solid #212529;
}

.product-content-piece {
    margin-top: 20px;
    padding-left: 0;
}

.review-form {
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 992px) {
  .review-form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 576px) {
  .review-form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.review-body {
  border: 1px #80808082 solid;
  border-radius: 7px;
  margin-bottom: 1em;
  padding: 15px 30px 10px 30px;
  margin: 0;
}

.review-column {
    margin-bottom: 1.5rem!important;
}

@media screen and (min-width: 992px) {
    .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
}

.review-content h5 {
    color: #ff4f00;
}

.review-default-message {
    text-align: center;
}

/********** cart.html *****************/

/* 
change amount in cart max-width
to make space for price
 */
.new-amount-input {
    width: 50px;
}

.cart-item {
    border: 2px solid #ff4f00a8;
    border-radius: 20px;
}

/********** contact.html *****************/

.form {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.center-form {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 992px) {
  .center-form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 576px) {
  .center-form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/********** about.html *****************/

.about-us-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-image-column {
    text-align: center;
}

.about-image {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.team-member {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5px;
}

/********** checkout.html *****************/

.warning-message {
    background-color: #ff010d;
}

.product-checkout {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.product-item {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    .total-price {
    text-align: right;
    }
}

/********** profile.html *****************/

.profile-image {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.profile-form {
    margin-top: 1em;
}