{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load mathfilters %}

{% block page_title %}Dutchtreats - Order confirmation{% endblock %}

{% block page_heading %}Order confirmation{% endblock %}

{% block content %}

<main>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-12">
                <p>Thank you for your order, it was processed successfully. You will receive an order confirmation in your
                    e-mail shortly.
                    Please check your spam and commercial folders if you don't see the e-mail in your inbox. </p>
                <a href="{% url 'products' %}" class="btn btn-primary btn-orange"
                    role="button"><i class="fas fa-arrow-alt-circle-left"></i> Back to products page</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}