{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - Home{% endblock %}

{% block content %}

<img class="index-background" src="{% static 'images/home2.jpg' %}" alt="Home image">
<section>
	<div class="container homepage-description">
		<div class="row">
            <p>Welcome to the Dutchtreats website! Are there typical Dutch foods you miss during your stay abroad?
            This is not neccessary any more! You can now enjoy these delicasies anywhere. Order with us and it will be 
            delivered to your door.</p>
        </div>
	</div>
</section>

{% endblock %}