{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block page_title %}Dutchtreats - registration{% endblock %}

{% block page_heading %}User registration{% endblock %}

{% block content %}

<div class="row">
	<p>If you already have an account, you can <a href="{% url 'login' %}">log in</a>.</p>
</div>

<div class="row">
	<form method="POST">
		{% csrf_token %}
		{{ registration_form | as_bootstrap }}
		<button type='submit' class="btn btn-primary">Register</button>
	</form>
</div>

{% endblock %}